* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.navbar {
  position: static !important;
  transform: translateX(0);
}


/* ------------- */

.product-card {
  margin-top: 10px;
  display: flex;
  margin-top: 50px;
  padding-bottom: 15px;
  width: 100%;
  border-bottom: 1px solid #dadada;
}

.product-card .imgsection {
  width: 750px;
  object-fit: contain;

  display: flex;
  justify-content: center;
}

.product-card .imgsection img {
  width: 80%;
}

.product-card .detailsection {
  margin-top: 20px;
}

.similer-items {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.card-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  /* width: 280px; */
  /* height: 150px; */
  /* margin-bottom: 100vh; */
}

.cards {
  padding: 10px 5px;
  margin: 3px 0px;
  /* border: 1px solid black; */
  width: 280px;
  height: 400px;
  /* background-color: red; */

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  transition: all 1.5s;
}

.cards:hover {
  /* border: 1px solid #dadada; */
  border-radius: 5px;
  /* box-shadow: 0px 0px 0px #dadada,
    0px 0px 5px #dadada; */
  transform: scale(1.05);
}

.cards .img-section {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards .img-section img {
  width: 100%;
  object-fit: contain;
}

.cards .body-section {
  padding-left: 3px;
}