<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Details</title>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
<link rel="stylesheet" th:href="@{/css/commons/style.css}">
<link rel="stylesheet" th:href="@{/css/navbar.css}">
<link rel="stylesheet" th:href="@{/css/product.css}">
</head>

<body>
	<!-- Navbar -->
	<div th:replace="components/navbar :: navbar"></div>
	<!-- END NAVABR -->

	<div class="mt">
		<div class="alert alert-info alert-dismissible fade show" role="alert">
			<strong>Holy guacamole!</strong> You should check in on some of those
			fields below.
			<button type="button" class="btn-close" data-bs-dismiss="alert"
				aria-label="Close"></button>
		</div>
		<div th:if="${product != null}" class="product-card mycontainer">

			<div class="imgsection">
				<img th:src="@{${product.productImage}}" alt="">
			</div>
			<div class="detailsection">
				<h3 th:text="${product.getProductName()}"></h3>
				<p th:text="${product.getProductDescription()}"></p>
				<b th:text="${product.getProductPrice()} + rs"></b>
				<del class="text-secondary bold"
					th:text="${product.getPriceWithoutDisc()} + rs"></del>

				<div class="mt-5">
					<a
						th:href="@{/user/product/purchase/{productId}(productId=${product.getProductId()})}"
						class="btn btn-primary me-3">Buy</a>
					<button class="btn btn-warning">Add To Cart</button>
				</div>
			</div>
		</div>

		<section th:unless="${product != null}">
			<div class="alert alert-danger text-center" role="alert">
				<h1>OOPS!..</h1>
				<p>Product is no longer available</p>
			</div>
		</section>
	</div>

	<div class="mycontainer mt-5 similer-items">
		<h3 class="">Similar Items</h3>


		<section class="mycontainer card-container">
			<a th:href="@{./{product}(product = ${product.productId})}"
				class="cards" th:each="product : ${allProducts}">
				<div class="img-section">
					<img th:src="@{${product.getProductImage()}}" alt="">
				</div>
				<div class="body-section">
					<p>
						<b th:text="${product.getProductName()}"></b>
					</p>
					<p th:text="${product.getProductDescription()}"></p>
					<b th:text="${product.getProductPrice()}+rs"></b>
					<del>
						<b class="text-secondary"
							th:text="${product.getPriceWithoutDisc()}"></b>
					</del>
				</div>
			</a>
		</section>
	</div>

	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>

</body>

</html>